@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300');

html {
  height: 100%; /* Make sure html is at least the height of the viewport */
  box-sizing: border-box; /* Border box sizing */
}

*, *:before, *:after {
  box-sizing: inherit; /* Inherit box-sizing for all elements */
}

body {
  display: flex; /* Use flexbox to create a column layout */
  flex-direction: column; /* Stack children vertically */
  min-height: 100%; /* Minimum height is full viewport */
  margin: 0; /* Reset default margin */
  font-family: 'Alegreya Sans', sans-serif;
}

.content {
  flex: 1; /* Grow to fill available space */
}

.footer {
  flex-shrink: 0; /* Don't shrink the footer */
  width: 100%; /* Full width */
  height: 230px; /* Footer height */
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

/* Footer links and form input styling here */


/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.footer .nav-link,
.footer .nav-link:hover,
.footer .nav-link:focus {
  color: #bbb !important; /* This is assuming #bbb is the color of your other icon */
  text-decoration: none;
}

/* Optional: remove the underline on hover/focus if desired */
.footer .nav-link:hover,
.footer .nav-link:focus {
  border-bottom: none;
}



.team-member-photo {
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* This will cover the area without distorting the aspect ratio */
  border-radius: 50%; /* Optional: if you want round images */
}





.pricing-card {
  border: 1px solid #cccccc; /* Light grey border */
  /* ...other styles... */
}

.pricing .price {
  font-size: 2em;
  font-weight: bold;
}


.pricing .price {
  font-size: 2em;
  font-weight: bold;
}

/* Ensure that all cards on the same row are the same height */
.row {
  display: flex;
}


