{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="mb-4">About Knowledge Networks</h1>
      <p>Knowledge Networks is an initiative from <strong>Apollo Health Innovations</strong>, designed to illuminate the intricate web of collaboration and knowledge sharing within academic institutions. Our application is the fruit of a collaboration with students from the Jheronimus Academy of Data Science (JADS), who have ingeniously crafted this platform to serve the academic community and university personnel.</p>
      <p>Our mission is to empower those in the world of academia with insightful, data-driven visualizations that elucidate the complex networks of co-authorship and collaborative research. Knowledge Networks endeavors to provide a lens through which the exchange of expertise and scholarly work within institutions becomes transparent and actionable.</p>
      <p>Looking ahead, we are excited about the prospect of extending these insights across multiple institutions. The goal is to foster broader connections that span universities and research bodies, further enhancing the collective intelligence and innovation potential of academia.</p>
      <p>We are proud to present Knowledge Networks as a testament to the power of collaboration, both in its creation and in its purpose. Join us in navigating the vast landscape of shared knowledge and in advancing the frontiers of research and academic achievement.</p>
    </div>
  </div>
  <br>
</div>
{% endblock %}
