{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Contact Us</h2>
  <p>If you are interested in utilizing U-Net'It for your organization or if you have any questions, please don't hesitate to get in touch. You can request a demo or send us your inquiries by filling out the contact form below.</p>
  <form method="POST" action="{{ url_for('contact') }}">
    <div class="mb-3">
      <label for="name" class="form-label">Your Name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
<br>
</div>
{% endblock %}
