{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Documentation</h2>

  <p class="text-center">
    Our documentation is a work in progress as we continually strive to improve and update our materials. Some initial documentation is already available for your convenience.
  </p>
  <p class="text-center">
    We understand the importance of having comprehensive documentation and are working diligently to provide detailed and user-friendly documentation for U-Net'It.
  </p>

  <div class="row mt-5 justify-content-center">
    <div class="col-lg-6 text-center">
      <a class="btn btn-secondary" href="https://github.com/Floor99/DCiA_group6" target="_blank" rel="noopener noreferrer">
        Visit our GitHub Repository
      </a>
      <p class="mt-3">
        Updates on documentation will follow shortly.
      </p>
    </div>
  </div>
</div>
{% endblock %}
